.header {
  background-color: var(--primary-blue);
  color: var(--primary-white);
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContaner {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerContaner.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}
.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid var(--primary-white);
  padding: 10px;
  border-radius: 20px;
}

.headerDescription {
  margin: 20px 0px;
}

.headerBtn {
  background-color: var(--secondary-blue);
  color: var(--primary-white);
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* Search inner-section */
.headerSearch {
  height: 30px;
  background-color: var(--primary-white);
  border: 3px solid var(--secondary-orange);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerIcon {
  color: var(--third-gray);
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: var(--third-gray);
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: var(--primary-white);
  color: var(--primary-gray_2);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: var(--primary-black);
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid var(--secondary-blue);
  color: var(--secondary-blue);
  cursor: pointer;
  background-color: var(--primary-white);
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
