.mail {
  width: 100%;
  margin-top: 50px;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.mailInputContainer {
  padding-bottom: 10px;
}

.mailInputContainer > input {
  width: 300px;
  height: 30px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
}

.mailInputContainer > button {
  height: 50px;
  background-color: var(--secondary-blue);
  color: var(--primary-white);
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
