:root {
  /* COLORS */
  --primary-blue: #003580;
  --secondary-blue: #0071c2;

  --primary-white: #ffffff;
  --secondary-white: #f0e9e9;
  --third-white: #ebf3ff;

  --primary-black: #000000;
  --secondary-black: #110f0f;

  --primary-gray: #555555;
  --primary-gray_1: #444444;
  --primary-gray_2: #808080;
  --primary-gray_3: #333333;
  --secondary-gray: rgb(110, 104, 104);
  --third-gray: #d3d3d3;

  --primary-green: #006407;
  --secondary-green: #008009;

  --primary-orange: #fea602;
  --secondary-orange: #febb02;
}
